@import url("./branding.css?v=0.1");
/* HEADER */
.header {
  width: 100%;
  margin: 0 auto;
  transition: all 0.35s ease;
  background-color: transparent;
  padding: 40px 35px 0 35px;
  position: relative;
  z-index: 2;
}
.header::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background-image: url(../img/shaps/blue-shape.svg);
  transform: translateX(-50%);
  width: 100%;
  height: 400px;
  z-index: -6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.25rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
}
.brand {
  width: 200px;
  height: 60px;
}
.brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-action{
  width: 200px;
}
.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  background-color: #56545d;
  padding: 5px 5px;
  border-radius: var(--th-radius-25);
  border: 1px solid #ABABAB;
}
.menu_item {
  font-family: var(--theme-title-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  transition: all 0.3s ease;
  padding: 19px 45px;
  display: flex;
  border-radius: var(--th-radius-25);
}
.menu_item:hover,
.menu_item:focus,
.menu_item:visited {
  color: #f4f4f4b7 !important;
}
.menu_item.active{
  background-color: var(--theme-color);
}
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: #fff;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}
.dropdown-menu {
  background: #2b557f;
  border: 0;
  border-radius: 0;
  min-width: 278px;
  top: 44px !important;
  left: -81px !important;
  padding: 30px 20px;
  font-weight: 500;
}
.dropdown-menu a {
  border-radius: 30px;
  padding-left: 24px !important;
  margin-bottom: 10px;
}
.dropdown-toggle::after {
  border: 0;
  background-image: url(../img/icons/dropdown.svg);
  width: 12px;
  height: 12px !important;
  background-repeat: no-repeat;
  margin-left: .355em;
  background-size: contain;
  position: relative;
  top: 9px;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #fff;
  color: #fff;
}
.dropdown-item:active {
  color: var(--theme-color);
}
.dropdown-menu a {
  color: #fff;
  font-size: 15px;
  padding: 12px 10px;
  white-space: break-spaces;
}

/* MASTER */
.master-content{
  padding:70px 0 50px 0;
  text-align: center;
}
.master-image{
  position: relative;
}
.master-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  object-position: top;
}
.master-image::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* TECHNOLOGIES SLIDER  */
.technologies-wrap .item img{
  aspect-ratio: 2.1;
  padding: 0 25px;
}
/* SERVICES SLIDER  */
.services-silder{

}
.th-card{
  border: 3px solid #fff;
  border-radius: var(--th-radius-30);
  padding: 30px 30px 30px 28px;
  box-shadow: rgb(111 66 193 / 50%) 0px 7px 60px 0px;
  background: rgb(0 0 0 / 40%);
}
.th-card-head{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.th-card-h-l{
  width: calc(100% - 60px);
}
.th-card-h-l h3{
  line-height: 1.2;
}
.th-icon{
  width: 60px;
  height: 60px;
  border-radius: 13px;
  background: rgb(111,66,193);
  background: linear-gradient(183deg, rgba(111,66,193,1) 32%, rgba(245,245,245,1) 100%);
  position: relative;
  box-shadow: rgb(111 66 193 / 50%) 0px 7px 60px 0px;
}
.th-icon-wrap{
  width: 94%;
  height: 95%;
  position: absolute;
  top: 50.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 12px;
}
.services-silder .th-icon-wrap img{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.th-card-content p{
  min-height: 150px;
}
.services-silder .owl-stage-outer{
  padding: 70px 0px;
}
/* PROJECTS */
.c-after{
  position: relative;
  z-index: 1;
}
.c-after::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(111,66,193);
  background: linear-gradient(0deg, rgba(111,66,193,0.40365882681197474) 0%, rgba(26,27,25,0) 67%);
  border-radius: 0 0 var(--th-radius-25) var(--th-radius-25);
  inset: 0;
  z-index: -1;
}
.c-after-rev{
  position: relative;
  z-index: 1;
}
.c-after-rev::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(111,66,193);
  background: linear-gradient(180deg, rgba(111,66,193,0.40365882681197474) 0%, rgba(26,27,25,0) 67%);
  border-radius: var(--th-radius-25) var(--th-radius-25) 0 0;
  inset: 0;
  z-index: -1;
}
.owl-dots .owl-dot span {
  width: 3px !important;
  height: 30px !important;
  margin: 5px 10px !important;
  background: #c2b3aa !important;
}
.owl-dots .owl-dot.active span {
  background-color: var(--theme-color) !important;
}


.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 100px;
  transition: all .3s ease;
}
.portfolio-item{
  transition: all .3s ease;
}
  
.portfolio-item1 { 
  grid-area: 1 / 1 / 5 / 6; 
}
.portfolio-item2 { 
  grid-area: 1 / 7 / 5 / 11; 
}
.portfolio-item3 { 
  grid-area: 4 / 1 / 9 / 6; 
}
.portfolio-item4 { 
  grid-area: 5 / 6 / 9 / 11; 
}
.portfolio-item5 { 
  grid-area: 8 / 1 / 13 / 6; 
}
.portfolio-item6 {
  grid-area: 9 / 6 / 13 / 11;
}
.portfolio-card{
  max-width: 500px;
}
.portfolio-img-wrap{
  height: 420px;
}
.portfolia-content{
  padding: 20px 5px;
}
.portfolio-item4 .portfolia-content{
  margin-left: -90px;
  max-width: 450px;
}
.portfolio-item6 .portfolio-card{
  margin-left: auto;
}



#customers-testimonials .owl-stage{
    padding-top: 70px;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190E7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  opacity: 1;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url(../img/shaps/center-testimonail.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
  min-height: 430px;
}
.section-testimonail .owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: -79px auto 17px;
  border-radius: 50%;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
  display: inline-block;
  width: 100%;
  text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
  display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}
.testimonial-content h4{
  color: #525252;
}
.testimonial-content .title{
  font-weight: 400;
  color: #525252;
  margin-bottom: 40px;
}
.testimonial-content p{
  color: #525252;
  font-weight: 400;
}
.testimonial-content .review-msg{
  position: relative;
}
.testimonial-content .review-msg::after{
  content: "";
  position: absolute;
  background-image:url(../img/icons/quote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}


/* FOOTER */
.socail-wrap{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.footer-link{
  display: flex;
  align-items: center;
  gap: 10px;
}
.col-link li{
  margin-bottom: 10px;
}
.col-link li a{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
/* ms-counter-wrap */
.ms-counter-wrap{
  border: 3px solid #6F42C1;
  border-radius: var(--th-radius-25);
  background: rgb(118 118 118 / 14%);
}
.ms-counter-item{
  text-align: center;
  padding: 40px 0px 35px 0px;
}
.ms-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ms-top img{
  width: 20px;
  height: 23px;
}
.ms-top p{
  color: #fff;
}
.ms-bottom span{
  font-size: clamp(2.5rem, 0.5043rem + 3.4783vw, 5rem);
  font-weight: 500;
}
.ms-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
/* section-process */
.process-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 190px 0;
  position: relative;
} 
.process-wrap::after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--theme-color);
  z-index: -1;
}
.process-block{
  width: 96px;
  height: 96px;
  border-radius: var(--th-radius-20);
  background-color: #EAEFF3;
  padding: 21px;
}
.process-block img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.process-item{
  position: relative;
}
.process-item-content{
  border: 4px solid #824BC5;
  border-radius: var(--th-radius-20);
  background-color: rgba(182, 182, 182, 0.23);
  max-width: 300px;
  width: 300px;
  position: absolute;
}
.process-item-content .process-content-inner{
  border-radius: var(--th-radius-20);
  
}
.process-item-content .arrow{
  display: block;
  position: absolute;
  z-index: 100;
  width: 23px;
  height: 11px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background: rgb(111,66,193);
  background: linear-gradient(180deg, rgb(130 75 197) 0%, rgba(225,119,208,1) 100%);
}
.process-item-1 .arrow,
.process-item-3 .arrow{
  bottom: -14px;
  left: 29px;
}
.process-item-2 .arrow,
.process-item-4 .arrow{
  top: -14px;
  left: 29px;
  transform: rotate(180deg);
}
.process-item-1 .process-item-content{
  left: 0;
  top: -175px;
}
.process-item-2 .process-item-content{
  left: 0;
  bottom: -175px;
}
.process-item-3 .process-item-content{
  left: 0;
  top: -175px;
}
.process-item-4 .process-item-content{
  left: 0;
  bottom: -175px;
}
.process-content-inner{
  padding: 20px;
}
.process-item-content p{
  color: var(--theme-main-bg);
}
.section-process{
  position: relative;
}
body{
  overflow-x: hidden;
}
.section-process::after{
  content: "";
  background-image: url(../img/shaps/radienl-gradient.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}
.ms-tag{
  background-color: #EAEAEA;
  color: var(--theme-black);
  border-radius: var(--th-radius-30);
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 4px 11px;
  transition: all .2s ease;
}
.ms-tag:hover{
  background-color: #3C2D58;
}
.ms-tag span{
  font-size: 16px;
  transition: all .2s ease;
}
.ms-tag:hover span{
  color: #fff;
}
.tags-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* SECTION CONTACT */
.contact-wrap{
  border-radius: var(--th-radius-25);
  border: 2px solid #6F42C1;
  background-color: rgba(82, 82, 82, 38%);
  padding: 80px 60px 50px 80px;
}
.contact-inner{
  background-color: var(--theme-color);
  border: 2px solid #e177d1;
  border-radius: var(--th-radius-40);
  padding: 70px 40px 20px 40px;
  position: relative;
  margin-top: -120px;
}
.contact-inner p{
  color: var(--th-font-color);
}
.info-wrap{
  padding-top: 50px;
}
.info-item{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.info-item img{
  width: 40px;
  height: 40px;
}
.info-item a{
  font-size: 23px;
  color: var(--theme-white);
}
.contact-inner .socail-wrap{
  padding: 90px 0 0 0;
}
/* SECTION-NEWS */
.ms-card{
  position: relative;
  background-color: var(--theme-white);
  border-radius: 15px;
  padding: 20px;
}
.ms-card-img{
  height: 290px;
  border-radius: 15px;
  overflow: hidden;
}
.ms-card-content .title{
  color: var(--theme-font-color);
}
.ms-card-info{
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #01060f45;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ms-card-info li{
  font-size: 14px;
  color: #01060F;
}
.ms-card-bottom h5{
  color: #01060F;
  font-size: 14px;
}
.ms-card-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}